#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized, always.
        %button= link_to "Join Now", new_user_registration_path

#callout
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Bro ipsum dolor sit amet air twister dope brain bucket, snake bite epic flow reverse camber dust on crust McTwist white room. Steeps Skate gondy, hero taco table top McTwist schwag titanium whip japan air BB pipe rock roll. Avie ripping rail, road rash McTwist avie gear jammer hellflip wack. Backside skinny cruiser, death cookies OTB twin tip afterbang brain bucket brain bucket nose press air tele avie. Bomb hole frontside stoked endo.

                %p Poaching park dust on crust dope, skinny pow pow booter stoked skid lid noodle daffy nose press heli ride around ollie. Hero chowder death cookies sucker hole dust on crust T-bar, backside grip tape 180 chillax. Skinny face plant slash gondy whip, death cookies twin tip shreddin T-bar. Slash backside pow pow, 360 rig flow caballerial dope groomer booter avie huck hellflip death cookies.
#bottom_cta
    .wrapper
        %h2 Join us, be better.
        %br/
        %button= link_to "Join Now", new_user_registration_path
